<h2 class="title-bar">Welcome!</h2>
<div class="contents">
  This is Qwiki, the qwik wiki. This is used to quickly create wiki pages and move on with your life.
  <ul>
    <li>Simple page generation with Markdown</li>
    <li>History tracking on all pages</li>
    <li>Diff of all changed content</li>
    <li>Simple user authentication</li>
  </ul>
  In order to do this a few awesome technologies are leveraged, including:<br/>
  <ul>
    <li><a href="http://daringfireball.net/projects/markdown/" target="_blank">Markdown</a></li>
    <li><a href="https://github.com/vmg/redcarpet" target="_blank">Redcarpet</a></li>
    <li><a href="https://github.com/tmm1/pygments.rb" target="_blank">Pygment.rb</a></li>
    <li><a href="https://github.com/justinfrench/formtastic" target="_blank">Formtastic</a></li>
    <li><a href="https://github.com/samg/diffy" target="_blank">Diffy</a></li>
  </ul>
  The goal is to keep it simple, you only have 3 navigational points above:
  <ul>
    <li>
      <b>Home</b> - Come back here.
    </li>
    <li>
      <b>Pages</b> - A directory of your wiki pages.
    </li>
    <li>
     <b>How To Use</b> - A Markdown cheat sheet and tips.
    </li>
  </ul>
  Todo:
  <ul>
    <li>
      Add tagging
    </li>
    <li>
      Add commenting
    </li>
    <li>
      Personal History Tracking
    </li>
    <li>
      Google Docs integration
    </li>
    <li>
      Notifications of page updates
    </li>
    <li>
      Page edit verification
    </li>
    <li>
      Activity feed for wiki
    </li>
  </ul>
  If you have any questions, bugs, or feedback please file an issue on the <b><a href="https://github.com/jasontruluck/qwiki/issues" target="_blank">github repository</a></b>.
  </div>
