@import "resets";
@import "mixins";
@import "buttons";

html{
  font-family: $fonts;
  background-color: $light;
  a{
    line-height:25px;
    color:black;
    text-decoration:none;
  }
  input{
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding:4px;
    border-radius:3px;
    box-shadow: inset rgba(0, 0, 0, 0.1) 0 1px 1px;
  }
  h2{
    &.title-bar{
      @include grey-gradient;
      @include shadow(0,0,1px,1px,#a8a8a8,inset);
      border-top-left-radius: 2px;
      border-top-right-radius: 2px;
      font-size:20px;
      margin-bottom:$item-spacing;
      padding:$item-spacing;
      font-weight:bold;
      color:$dark;
      text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.4);
      border-bottom: $border-thick;
      img{
        float:left;
        margin-right:$item-spacing;
        width: $med-img;
        height: $med-img;
        border-radius:2px;
      }
    }
  }
  form, .formtastic{
    margin:$item-spacing;
  }
  #container{
    @include shadow(0,0,1px,1px,#a8a8a8,inset);
    margin:0px auto;
    width: $page-width;
    border: $border-thick;
    border-radius: 5px;
    background: white;
    .highlight{
      font-family: "Courier New";
      background-color: #3D3D29;
      padding: 5px;
      border: 2px solid black;
    }
    .contents{
      margin:$item-spacing;
    }
  }
  .clear{
    clear:both;
  }
  .form-actions{
    text-align:right;
  }
  .notice{
    color:green;
    margin-left:$item-spacing;
  }
  .alert{
    color:red;
    margin-left:$item-spacing;
  }

  section{
    &#header{
      @include dark-gradient;
      @include shadow(0,0,10px,3px,#45484d);
      height:45px;
      width: 100%;
      margin: 0px auto 15px;
      .wrapper{
        width: $page-width;
        margin:0px auto;
        h3{
          display:inline-block;
          font-weight:bold;
          text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.4);
          line-height:45px;
          font-size:20px;
          a{
            color: $light;
          }
        }
        .form-actions{
          display: inline-block;
          float: right;
          margin-top: 6px;
        }
      }
    }
  }
  footer{
    width: $page-width - 60px;
    margin: 0px auto;
    p{
      float: left;
      padding-right: $item-spacing;
    }
  }
}
