@import "mixins";

.container{
  .left{
    float:left;
    width:81%;
    .empty{
      img{
        width: auto;
        height:auto;
        float:right;
        border: none;
      }
    }
  }
  &.right{
    border: $border-thin;
    border-radius: 5px;
    float:right;
    width: 18%;
    h2{
      font-size:16px;
      padding: 6px;
    }
    div{
      &.tag{
        color: $light;
        border: $border-thin;
        padding: 2px 4px;
        margin-bottom: 4px;
        display:inline-block;
        border-radius:3px;
        background-color: #45484D;
        a{
          color: $light;
        }
      }
    }
  }
  &.pages{
    #directory{
      border-top-left-radius: 3px;
      border-top-right-radius: 3px;
      border-top: $border-thin;
    }
    div{
      &.information{
        float:left;
        .title{
          font-size: 18px;
          font-weight: bold;
          a{
            &:hover{
              text-decoration: underline;
            }
          }
        }
        .details{
          font-size:14px;
          font-weight:normal;
        }
      }
      &.actions{
        margin-top: 6px;
        margin-right: $item-spacing;
        float:right;
      }
    }
    img{
      float:left;
      margin-right: $item-spacing;
      width: $med-img;
      height: $med-img;
      border: $border-thin;
      border-radius: 2px;
    }
    h3{
      &.sub-title{
        @include grey-gradient;
        border: $border-thin;
        border-top-left-radius: 3px;
        border-top-right-radius: 3px;
        padding: $small-spacing;
        color: $dark;
        font-size:18px;
      }
    }
    .contents{
      ul{
        &.sub-list{
          border: $border-thin;
          border-top: none;
          border-bottom-left-radius: 3px;
          border-bottom-right-radius: 3px;
          margin-bottom: $item-spacing;
          background-color: $light;
          font-size: 14px;
          li{
            padding: $small-spacing;
            border-bottom: $border-thin;
            &:last-child{
              border-bottom:none;
            }
            table{
              width: 100%;
              text-align:left;
            }
          }
        }
      }
    }
  }
}
