@import "mixins";

.container{
  &.sessions, &.registrations, &.passwords{
    min-height: auto;
    width:400px;
    input{
      width: 100%;
      &#user_remember_me{
        width:auto;
      }
    }
    div{
      margin-bottom:$item-spacing;
      &:last-child{
        margin-bottom:0px;
      }
    }
    a{
      text-align: right;
      width: 80%;
      display: inline-block;
      color:blue;
    }
  }
}