<footer>
  <p><%= link_to "Qwiki", "https://github.com/jasontruluck/qwiki", :target => "_blank" %></p>
  <p><%= link_to "License", "https://github.com/jasontruluck/qwiki/blob/master/MIT-LICENSE", :target => "_blank" %></p>
</footer>